.userinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: black;
}

.userphoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.userphoto > img {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}